
.show_header {
   display:block;
   margin: 8px; 
}

.show_header img {
  width: 120px;
  height: 80px;
  float: left;
}

.show_header div.show_info {
  float: right;
  display: block;
  width: 180px;
  word-wrap: break-word;
}
