<div class="toolbar">
	<h1 id="pageTitle">
		New Post
	</h1>
</div>

<form title="New Post" 
	  class="panel"
	  id="post_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@post.object%>"/>
		
		  <div class="row">
			  <label>Url: </label>
			  <input type="text" name="post[url]"/>
		  </div>
		
		  <div class="row">
			  <label>Title: </label>
			  <input type="text" name="post[title]"/>
		  </div>
		
		  <div class="row">
			  <label>Published: </label>
			  <input type="text" name="post[published]"/>
		  </div>
		
		  <div class="row">
			  <label>Summary: </label>
			  <input type="text" name="post[summary]"/>
		  </div>
		
		  <div class="row">
			  <label>Post type: </label>
			  <input type="text" name="post[post_type]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>