<div id="venues">
  <%= @toolbar  %>
  <div class="vertical-scroll">
    <div>
      <ul>
    	  <%@venues.each do |x|%>
          <li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>