<div id="tours">
  <%= @toolbar  %>
  <div class="vertical-scroll">
    <div>
      <ul id="tours" title="Tours" selected="true">
        <%@tours.each do |x|%>
        <li><%=link_to "#{x.name}", :action => :show, :id => x.object%></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>