<div id="tour-<%= @tour.id %>">
  <%= @toolbar  %>
  <div class="vertical-scroll">
    <div>
      <ul>
        <% @tour.shows.each do |show|%>
          <li><a href="/app/Show/<%= show.object %>"><%= display_show(show) %></a></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>