<ul class="rounded">
  <li class="forward"><a href="/app/Show/set_list/<%= show.object %>" class="flip">Set List</a></li>
  <% if show.photo_albums.first %>
    <li class="forward"><a href="/app/PhotoAlbum/<%= show.photo_albums.first.object %>" class="flip">Photos</a></li>
  <% end %>
  <% unless show.videos.empty? %>
    <li class="forward"><a href="/app/Show/videos/<%= show.object %>" class="flip">Videos</a></li>
  <% end %>
</ul>

<ul class="individual">
  <li><a href="livedownload">Live Download</a></li>
  <li><a href="archie">Archive</a></li>
</ul>