<div id="shows">
  <%= @toolbar  %>
  <div class="vertical-scroll">
    <div>
      <ul>
	      <% @shows.each do |show|%>
      	  <li><a href="/app/Show/<%= show.object %>"><%= display_show(show) %></a></li>
      	<%end%>
      </ul>
    </div>
  </div>
</div>
