<div class="toolbar">
	<h1 id="pageTitle">
		SabreDanceMobile
	</h1>
</div>

<ul id="home" selected="true" title="SabreDanceMobile">
  <li><a href="/app/Tour">Tours</a></li>
  <li><a href="/app/Show">Shows</a></li>
	<li><a href="/app/Song">Songs</a></li>
	<li><a href="/app/Venue">Venues</a></li>
</ul>