<div id="main" class="plastic current">
  <div class="toolbar">
  	<h1>
  		Set Lists and Songs
  	</h1>
  </div>

  <ul>
    <li><a href="/app/Tour">Tours</a></li>
    <li><a href="/app/Show">Shows</a></li>
  	<li><a href="/app/Song">Songs</a></li>
  	<li><a href="/app/Venue">Venues</a></li>
  </ul>
</div>