<div class="toolbar">
	<h1 id="pageTitle">
		New Show
	</h1>
</div>

<form title="New Show" 
	  class="panel"
	  id="show_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@show.object%>"/>
		
		  <div class="row">
			  <label>Pt: </label>
			  <input type="text" name="show[pt_id]"/>
		  </div>
		
		  <div class="row">
			  <label>Tour: </label>
			  <input type="text" name="show[tour_id]"/>
		  </div>
		
		  <div class="row">
			  <label>Venue: </label>
			  <input type="text" name="show[venue_id]"/>
		  </div>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="show[name]"/>
		  </div>
		
		  <div class="row">
			  <label>Date: </label>
			  <input type="text" name="show[date]"/>
		  </div>
		
		  <div class="row">
			  <label>Notes: </label>
			  <input type="text" name="show[notes]"/>
		  </div>
		
		  <div class="row">
			  <label>Created at: </label>
			  <input type="text" name="show[created_at]"/>
		  </div>
		
		  <div class="row">
			  <label>Updated at: </label>
			  <input type="text" name="show[updated_at]"/>
		  </div>
		
		  <div class="row">
			  <label>Scanned for sequences: </label>
			  <input type="text" name="show[scanned_for_sequences]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>