<div id="show-<%= @show.id %>-setlist">
  <%= @toolbar  %>
	<div class="vertical-scroll">
	  <div>
      <ul class="rounded">
        <% @show.set_lists.each do |sl|%>
      	  <li class="group"><%= sl.name %></li>
      	  <% sl.song_performances.each do |sp| %>
      	    <li><%= (sp.inverted? ? "<b>[X] </b>" : "") + "#{sp.song_name}#{sp.segue? ? " >" : ","}" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style=\"font-size: 75%;\">" + (sp.tag_list.reject{|de| de =~ /nvert/} + [sp.notes]).compact.join(", &nbsp;") +  "</span>"%></li>
          <% end %>
        <%end%>
      </ul>
    </div>
  </div>
</div>