<div id="show" class="plastic current">
  <div class="toolbar">
    <a class="back">Back</a>
	  <h1><%=@show.date%></h1>
  </div>

  <% if @show.upcoming? %>
    <%= render :partial => "upcoming_show", :locals => {:show => @show} %>
  <% else %>
    <%= render :partial => "past_show", :locals => {:show => @show } %>
  <% end %>
</div>