<div class="toolbar">
	<h1 id="pageTitle">
		SabreDanceMobile
	</h1>
</div>

<ul id="home" selected="true" title="SabreDanceMobile">
  <li><a href="Tour">Tours</a></li>
  <li><a href="Show">Shows</a></li>
	<li><a href="Song">Songs</a></li>
	<li><a href="Venue">Venues</a></li>
</ul>