<!doctype html>
<html>
<head>
    <title>Extension Example</title>
    
    <link type="text/css" rel="stylesheet" media="screen" href="/public/jqtouch/jqtouch.css">
	<link type="text/css" rel="stylesheet" media="screen" href="/public/themes/apple/theme.css">
	<link type="text/css" rel="stylesheet" media="screen" href="/public/extensions/scrolling.css">
    
	<script type="text/javascript" src="/public/jqtouch/jquery.js"></script>
    <script type="text/javascript" src="/public/jqtouch/jqtouch.js"></script>
	<script type="text/javascript" src="/public/extensions/jqt.scaling.js"></script>
	<script type="text/javascript" src="/public/extensions/jqt.scrolling.js"></script>
	<script type="text/javascript" src="/public/extensions/jqt.sliding.js"></script>
    <script type="text/javascript">
	    var jQT = $.jQTouch({
			slideSelector:'.right'
	    });
		
		//you will find that jQTouch fails to appropriately identify the initial orientation
		//do to the fact that not all components are loaded before firing $.ready
		$(window).load(function()
		{
			$(document.body).trigger('orientationchange');
		});
	</script>
    <style>
        .scalable
        {
        	width:200px !important;
            margin:50px auto;
        }
        .padded
        {
            padding: 5px;
            margin-top:5px;
        }
        .images img
        {
            display:block;
            clear:left;
            margin: 0 auto;
            position: relative;
            max-width: 300px;
        }
        .landscape .images img
        {
            width: 460px;
        }
        .profile .images img
        {
            width: 300px;
        }
    </style>
</head>

<body>
	<div id="home">
        <div class="toolbar">
            <h1>Home</h1>
        </div>
        <ul class="edgetoedge">
            <li class="arrow"><a class="flip" href="#horizontal-sliding-example">Horizontal Sliding Example</a></li>
            <li class="arrow"><a class="cube" href="#vertical-sliding-example">Vertical Slide</a></li>
            <li class="arrow"><a class="pop" href="#horizontal-scrolling-example">Horizontal Scroll</a></li>
            <li class="arrow"><a class="cube" href="#vertical-scrolling-example">Vertical Scroll</a></li>
            <li class="arrow"><a class="slideup" href="#scaling-example">Scaling</a></li>
            <li class="arrow"><a class="right" href="#scaling-example">Slide</a></li>
            <li class="arrow"><a class="swap" href="#scaling-example">Swap</a></li>
            <li class="arrow"><a class="dissolve" href="#scaling-example">Dissolve</a></li>
            <li class="arrow"><a class="flip" href="#scaling-example">Flip</a></li>
            <li class="arrow"><a class="flip" href="#problem">Problem</a></li>
            <li class="arrow"><a href="#about" onClick="this.innerHTML=document.body.className">Element5</a></li>
        </ul>
    </div>
	<div id="vertical-scrolling-example">
        <div class="toolbar">
            <h1>Vertical Scroll</h1>
        </div>
        <div class="vertical-scroll">
        	<div>
                <ul class="edgetoedge">
                    <li class="arrow"><a class="flip" href="#horizontal-sliding-example">Horizontal Sliding Example</a></li>
                    <li class="arrow"><a class="cube" href="#vertical-sliding-example">Vertical Slide</a></li>
                    <li class="arrow"><a class="right" href="#horizontal-scrolling-example">Horizontal Scroll</a></li>
                    <li class="arrow"><a class="slideup" href="#scaling-example">Scaling</a></li>
                    <li class="arrow"><a class="right" href="#scaling-example">Slide</a></li>
                    <li class="arrow"><a class="swap" href="#scaling-example">Swap</a></li>
                    <li class="arrow"><a class="dissolve" href="#scaling-example">Dissolve</a></li>
                    <li class="arrow"><a class="flip" href="#scaling-example">Flip</a></li>
                    <li class="arrow"><a href="#about" onClick="this.innerHTML=document.body.className">Element5</a></li>
                    <li class="arrow"><a href="#about">Element7</a></li>
                    <li class="arrow"><a href="#about">Element8</a></li>
                    <li class="arrow"><a href="#about">Element9</a></li>
                    <li class="arrow"><a href="#about">Element10</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                    <li class="arrow"><a href="#about">Element11</a></li>
                </ul>
             </div>
        </div>
</div>
   <div id="vertical-sliding-example">
        <div class="toolbar">
            <h1>Vertical Slide</h1>
            <a class="back" href="#home">Home</a>
        </div>
        <div class="vertical-slide">
            <div>
                <div class="vertical-slide-snapto">
                	<img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/>                </div>
                <div class="vertical-slide-snapto">
                	<img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/>                </div>
                <div class="vertical-slide-snapto">
                	<img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/>                </div>
                <div class="vertical-slide-snapto">
                	<img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/>                </div>
                <div class="vertical-slide-snapto">
                	<img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/>                </div>
            </div>
        </div>
</div>
<div id="scaling-example">
    <div class="toolbar">
        <h1>Scale</h1>
        <a class="back" href="#home">Home</a>
    </div>
	<div class="padded">
    	<a href="#home" class="grayButton swap">Gotta have something here or you get a flicker</a>
    </div>
    <div style="text-align:center;width:320px;overflow:hidden;height:350px;">
        <img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/ class="scalable">
   </div>
</div>
<div id="horizontal-scrolling-example">
    <div class="toolbar">
        <h1>Horizontal Scroll</h1>
        <a class="back" href="#home">Home</a>
    </div>
	<div class="padded">
    	<a href="#home" class="grayButton swap">Gotta have something here or you get a flicker</a>
    </div>
    <div class="images horizontal-scroll">
        <table>
            <tr>
                <td><div class="scroll-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td><div class="scroll-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td><div class="scroll-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td><div class="scroll-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td><div class="scroll-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td><div class="scroll-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td><div class="scroll-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
            </tr>
        </table>
    </div>
</div>
<div id="horizontal-sliding-example">
    <div class="toolbar">
        <h1>Horizontal Slide</h1>
        <a class="back" href="#home">Home</a>
    </div>
	<div class="padded">
    	<a href="#home" class="grayButton swap">Gotta have something here or you get a flicker</a>
    </div>
    <div class="images horizontal-slide">
        <table>
            <tr>
                <td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
                <td class="horizontal-slide-snapto"><div class="slide-container"><img src="http://rlv.zcache.com/css_is_awesome_mug-p1687164350719819282objs_210.jpg" alt="CSS Is Awesome"/></div></td>
            </tr>
        </table>
    </div>
</div>
<div id="problem">
    <div class="toolbar">
        <h1>Problem</h1>
        <a class="back" href="#home">Home</a>
    </div>
    <div class="vertical-scroll">
        <div>
            <ul class="edgetoedge">
               <li class="arrow"><a class="flip" href="#about"> Element1</a></li>
               <li class="arrow"><a class="dissolve" href="#about"> Element2</a></li>
               <li class="arrow"><a class="fade" href="#about"> Element3</a></li>
               <li class="arrow"><a class="pop" href="#about"> Element4</a></li>
               <li class="arrow"><a class="slideup" href="#about"> Element5 </a></li>
               <li class="arrow"><a class="swap" href="#about"> Element6</a></li>
               <li class="arrow"><a class="cube" href="#about"> Element7</a></li>
            </ul>
            <ul class="edgetoedge">
               <li class="arrow"><a class="flip" href="#about"> Element8</a></li>
               <li class="arrow"><a class="dissolve" href="#about"> Element9 </a></li>
               <li class="arrow"><a class="fade" href="#about"> Element10</a></li>
               <li class="arrow"><a class="pop" href="#about"> Element11</a></li>
               <li class="arrow"><a class="slideup" href="#about"> Element12</a></li>
               <li class="arrow"><a class="swap" href="#about"> Element13</a></li>
               <li class="arrow"><a class="cube" href="#about"> Element14</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
