<div class="toolbar">
	<h1 id="pageTitle">
		New SongPerformance
	</h1>
</div>

<form title="New SongPerformance" 
	  class="panel"
	  id="songperformance_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@songperformance.object%>"/>
		
		  <div class="row">
			  <label>Song: </label>
			  <input type="text" name="songperformance[song_id]"/>
		  </div>
		
		  <div class="row">
			  <label>Set list: </label>
			  <input type="text" name="songperformance[set_list_id]"/>
		  </div>
		
		  <div class="row">
			  <label>Position: </label>
			  <input type="text" name="songperformance[position]"/>
		  </div>
		
		  <div class="row">
			  <label>Notes: </label>
			  <input type="text" name="songperformance[notes]"/>
		  </div>
		
		  <div class="row">
			  <label>Segue: </label>
			  <input type="text" name="songperformance[segue]"/>
		  </div>
		
		  <div class="row">
			  <label>Created at: </label>
			  <input type="text" name="songperformance[created_at]"/>
		  </div>
		
		  <div class="row">
			  <label>Updated at: </label>
			  <input type="text" name="songperformance[updated_at]"/>
		  </div>
		
		  <div class="row">
			  <label>Sequence: </label>
			  <input type="text" name="songperformance[sequence_id]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>