<div id="settings-about">
  <div class="toolbar">
	  <a class="back">Back</a>
	  <h1>About</h1>
  </div>
  <div class="vertical-scroll">
    <div>
      <p>This app was created by BandWith.us</p>
    </div>
  </div>
</div>