<div id="photo-albums">
  <%= @toolbar  %>
  <div class="vertical-scroll">
    <div>
      <ul id="photo_albums" title="PhotoAlbums" selected="true">
        <%@photo_albums.each do |x|%>
        <li>
          <img src="<%= x.thumbnail %>">
          <%=link_to "#{x.title}", :action => :show, :id => x.object%>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
