<div class="toolbar">
	<h1 id="pageTitle">
		New PhotoAlbum
	</h1>
</div>

<form title="New PhotoAlbum" 
	  class="panel"
	  id="photo_album_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@photo_album.object%>"/>
		
		  <div class="row">
			  <label>Credit: </label>
			  <input type="text" name="photo_album[credit]"/>
		  </div>
		
		  <div class="row">
			  <label>Date: </label>
			  <input type="text" name="photo_album[date]"/>
		  </div>
		
		  <div class="row">
			  <label>Photo: </label>
			  <input type="text" name="photo_album[photo]"/>
		  </div>
		
		  <div class="row">
			  <label>Photos json: </label>
			  <input type="text" name="photo_album[photos_json]"/>
		  </div>
		
		  <div class="row">
			  <label>Show: </label>
			  <input type="text" name="photo_album[show_id]"/>
		  </div>
		
		  <div class="row">
			  <label>Thumbnail: </label>
			  <input type="text" name="photo_album[thumbnail]"/>
		  </div>
		
		  <div class="row">
			  <label>Title: </label>
			  <input type="text" name="photo_album[title]"/>
		  </div>
		
		  <div class="row">
			  <label>Venue: </label>
			  <input type="text" name="photo_album[venue_id]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>