<div id="photo-album-<%= @photo_album.id %>">
  <%= @toolbar  %>
  <a href="#home" class="grayButton swap">Gotta have something here or you get a flicker</a>
  <div class="horizontal-slide">
    <table>
  	  <tr>
	      <%@photo_album.photos.each do |x|%>
	      <td class="horizontal-slide-snapto">
	        <div class="slide-container">
	          <img src="<%= x[:photo] || x["photo"] %>?imgmax=320">
	        </div>
	      </td>
	      <%end%>
	    </tr>
    </table>
  </div>
</div>