<div class="toolbar">
	<h1 id="pageTitle">
		Media
	</h1>
</div>

<ul id="home" selected="true" title="SabreDanceMobile">
  <li><a href="/app/Media/music">Studio Tracks</a></li>
  <li><a href="/app/Media/pictures">Pictures</a></li>
	<li><a href="/app/Video/video">Video</a></li>
</ul>