<div id="media-index">
  <%= @toolbar  %>
  <div class="vertical-scroll">
    <div>
      <ul>
        <li><a href="/app/Media/music">Studio Tracks</a></li>
        <li><a href="/app/PhotoAlbum">Pictures</a></li>
      	<li><a href="/app/Media/videos">Videos</a></li>
      </ul>
    </div>
</div>