<div id="media" class="plastic current">
  <div class="toolbar">
  	<h1>
  		Media
  	</h1>
  </div>

  <ul>
    <li><a href="/app/Media/music">Studio Tracks</a></li>
    <li><a href="/app/PhotoAlbum">Pictures</a></li>
  	<li><a href="/app/Video/video">Video</a></li>
  </ul>
</div>