<div id="music" class="plastic current">
  <div class="toolbar">
    <a class="back">Back</a>
	  <h1 id="pageTitle">Studio Tracks</h1>
  </div>

  <ul>
    <li class="group">Planet Anthem</li>
    <li><a href="http://www.discobiscuits.com/09stdbeps/YouAndI.mp3">You & I</a></li>
  	<li><a href="http://www.discobiscuits.com/09stdbeps/01-OnTime.mp3">On Time</a></li>
  	<li><a href="http://www.discobiscuits.com/09stdbeps/02-LooseChange.mp3">Loose Change</a></li>
  	<li><a href="http://www.discobiscuits.com/09stdbeps/01-Widgets.mp3">Widgets</a></li>
  	<li><a href="http://www.discobiscuits.com/09stdbeps/02-FishOutOfWater.mp3">Fish Out Of Water</a></li>
  	<li><a href="http://www.discobiscuits.com/09stdbeps/03-Konkrete.mp3">Konkrete</a></li>
  	<li class="group">Remixes</li>
  	<li><a href="http://www.discobiscuits.com/09stdbeps/04-On Time (Eliot Lipp Remix).mp3">On Time (Elliot Lipp Remix)</a></li>
  	<li><a href="http://www.discobiscuits.com/09stdbeps/04-Konkrete(OttRemix).mp3">Konkrete (Ott Remix)</a></li>
  	<li><a href="http://www.discobiscuits.com/09stdbeps/05-YouAndI(JuanMacleanRemix).mp3">You and I (Juan Maclean Remix)</a></li>  
  </ul>
</div>