<div id="studio-tracks">
  <%= @toolbar  %>
  <div class="vertical-scroll">
    <ul>
      <li class="group">Planet Anthem</li>
      <li><a href="http://www.discobiscuits.com/09stdbeps/YouAndI.mp3" class="media" rel="external" >You & I</a></li>
    	<li><a href="http://www.discobiscuits.com/09stdbeps/01-OnTime.mp3" class="media" rel="external">On Time</a></li>
    	<li><a href="http://www.discobiscuits.com/09stdbeps/02-LooseChange.mp3" class="media" rel="external">Loose Change</a></li>
    	<li><a href="http://www.discobiscuits.com/09stdbeps/01-Widgets.mp3" class="media" rel="external">Widgets</a></li>
    	<li><a href="http://www.discobiscuits.com/09stdbeps/02-FishOutOfWater.mp3" class="media" rel="external">Fish Out Of Water</a></li>
    	<li><a href="http://www.discobiscuits.com/09stdbeps/03-Konkrete.mp3" class="media" rel="external">Konkrete</a></li>
    	<li><a href="http://localhost:5000/on_time.mp3" class="media" rel="external">Konkrete</a></li>
    	<li class="group">Remixes</li>
    	<li><a href="http://www.discobiscuits.com/09stdbeps/04-On Time (Eliot Lipp Remix).mp3" class="media" rel="external">On Time (Elliot Lipp Remix)</a></li>
    	<li><a href="http://www.discobiscuits.com/09stdbeps/04-Konkrete(OttRemix).mp3" class="media" rel="external">Konkrete (Ott Remix)</a></li>
    	<li><a href="http://www.discobiscuits.com/09stdbeps/05-YouAndI(JuanMacleanRemix).mp3" class="media" rel="external">You and I (Juan Maclean Remix)</a></li>  
    </ul>
    <a href="http://localhost:5000/on_time.mp3" target="_webapp">Konkrete</a>
  </div>
</div>