<div id="home" class="current">
  <%= @toolbar  %>
  <div class="vertical-scroll">
    <ul>
      <li><a href="http://www.youtube.com/v/mNIf_gGSNfE" class="media" rel="external">Play Video</a></li>
      <li><a href="http://www.youtube.com/v/mNIf_gGSNfE"  class="media">Play Video</a></li>
      <li><a href="http://www.youtube.com/v/mNIf_gGSNfE"  rel="external">Play Video</a></li>
      <li><a href="http://www.youtube.com/v/mNIf_gGSNfE"  class="media" rel="external" target="_webapp">Play Video</a></li>
      <li><a href="http://www.youtube.com/v/mNIf_gGSNfE"  target="_webapp">Play Video</a></li>
      <li><a href="http://www.youtube.com/v/mNIf_gGSNfE"  target="_parent">Play Video</a></li>
      <li><a href="http://www.youtube.com/v/mNIf_gGSNfE"  target="_parent" rel="external">Play Video</a></li>
      <li><a href="http://www.youtube.com/v/mNIf_gGSNfE"  target="_parent" rel="external" class="media">Play Video</a></li>
    </ul>
  </div>
</div>