<div id="home" class="current">
  <div class="toolbar">
  	<h1>
  		Error
  	</h1>
  </div>

  <h2>Major Error has occured</h2>
  <p> We were unable to logged you into the data server to update the application.  Please exit and try to load the app again, if this continues please email help@bandwith.us</p>

</div>
