<div id="home" class="current">
  <div class="toolbar">
  	<h1>
  		Dashboard
  	</h1>
  </div>

  <h2>Upcoming Concerts:</h2>
  <ul class="rounded"><li><%= @upcoming_show ? "<a href=\"/app/Show/#{@upcoming_show.object}\">#{display_show(@upcoming_show)}</a>" : "None Scheduled" %></li></ul>
  <h2>Recent Concerts:</h2>
  <ul class="rounded">
    <li><a href="/app/Show/<%= @last_show.object %>"><%= display_show(@last_show) %></a></li>
  </ul>

  <h2>News</h2>
  <ul class="rounded" >
    <% Postr.find(:all, :limit => 5, :order => "published", :orderdir => "desc").each do |post|%>
      <li><%= post.summary %></li>
    <% end %>
  </ul>

</div>
